.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
}

.user_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-weight: bold;
  color: #638AA7;
  cursor: pointer;
}

.profile_button {
  width: 3em;
  height: 3em;
  border: 3px solid #ffffff;
  border-radius: 50%;
  border: 3px solid #638AA7;
}

.header_logo {
  width: 10em;
  height: 4em;
  background-color: white;
  border-radius: 2em;
}
.header_shop_view{
  display: flex;
  align-items: center;
  justify-content: center;
  left: 77%;
  padding: 1em 1em;
  border-style: solid;
  border-width: 2px;
  border-color: #638AA7;
  font-weight: bold;
  cursor: pointer;
  color: #638AA7 ;
}
.search{
    display: flex;
    align-items: center;
    gap: 0.5em;
    border: 2px solid #638AA7;
    padding: 1em 1.5em; 
    border-radius: 1em;
    background-color: white;
}

.search_box {
  outline: none;
  border:none;
  font-weight:500;
  font-size: large;
  width: 50em;
  height: 1.5em;
}

.search_icon {
  width: 1.5em;
  height: auto;
  cursor: pointer;
}
.cart_icon{
  width: 2.5em;
  height: auto;
  color: #638AA7;
  cursor: pointer;
}
/* Tooltip text */
.cart .cart_decription {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: rgb(2, 1, 1);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.user_actions {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* Show the tooltip text when you mouse over the tooltip container */

.cart_container {
  position: absolute;
  top: 10%;
  right: 2%;
  width: 20em;
  height: 20em;
  background-color: white;
  border: 2px solid #638AA7;
  padding: 0.5em 2em;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.cart_container h3 {
  margin: 0;
}

.cart_item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: space-between;
}

.cart_item img {
  width: 4em;
  height: 4em;
}

.cart_item_delete {
  width: 1.5em;
  height: 1.5em;
  color: #638AA7;
  cursor: pointer;
}

.cart_item_info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.cart_item_info:last-child {
  margin-left: auto;
}

.cart_content {
  height: 16em;
  margin-bottom: 1em;
  overflow-y: auto;
}

.cart_action {
  align-self: flex-end;
  background-color: #638AA7;
  color: white;
  font-weight: bold;
  padding: 0.8em 1em;
  border: none;
  border-radius: 0.8em;
}
